<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Tabs # Tabs let you organize content by context, for example installation instructions for each supported platform.
{{&lt; tabs &#34;uniqueid&#34; &gt;}} {{&lt; tab &#34;MacOS&#34; &gt;}} # MacOS Content {{&lt; /tab &gt;}} {{&lt; tab &#34;Linux&#34; &gt;}} # Linux Content {{&lt; /tab &gt;}} {{&lt; tab &#34;Windows&#34; &gt;}} # Windows Content {{&lt; /tab &gt;}} {{&lt; /tabs &gt;}} Example # MacOS MacOS # This is tab MacOS content.
Lorem markdownum insigne. Olympo signis Delphis!">
<meta name="theme-color" content="#FFFFFF">
<meta name="color-scheme" content="light dark"><meta property="og:title" content="" />
<meta property="og:description" content="Tabs # Tabs let you organize content by context, for example installation instructions for each supported platform.
{{&lt; tabs &#34;uniqueid&#34; &gt;}} {{&lt; tab &#34;MacOS&#34; &gt;}} # MacOS Content {{&lt; /tab &gt;}} {{&lt; tab &#34;Linux&#34; &gt;}} # Linux Content {{&lt; /tab &gt;}} {{&lt; tab &#34;Windows&#34; &gt;}} # Windows Content {{&lt; /tab &gt;}} {{&lt; /tabs &gt;}} Example # MacOS MacOS # This is tab MacOS content.
Lorem markdownum insigne. Olympo signis Delphis!" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://techatpark.github.io/gurukulams-book/layouts/tabs/" /><meta property="article:section" content="layouts" />


<title>Tabs | Book Manual</title>
<link rel="manifest" href="/gurukulams-book/manifest.json">
<link rel="icon" href="/gurukulams-book/favicon.png" type="image/x-icon">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">



<link rel="stylesheet" href="/gurukulams-book/book.min.796bb1bd680823e753c1b4564be90186b45118f9acd584a0d8f1d61026bb3b4f.css" integrity="sha256-eWuxvWgII&#43;dTwbRWS&#43;kBhrRRGPms1YSg2PHWECa7O08=" crossorigin="anonymous">
  <script defer src="/gurukulams-book/flexsearch.min.js"></script>
  <script defer src="/gurukulams-book/en.search.min.dd111d9be7b4198e283593438f0699431d5be4073b7d7c79a42f70d9c67c2bbd.js" integrity="sha256-3REdm&#43;e0GY4oNZNDjwaZQx1b5Ac7fXx5pC9w2cZ8K70=" crossorigin="anonymous"></script>

  <script defer src="/gurukulams-book/sw.min.f4c2066d141ad00e18669c3437a537a36864d2389aac634bfcaf0e4b71431e3c.js" integrity="sha256-9MIGbRQa0A4YZpw0N6U3o2hk0jiarGNL/K8OS3FDHjw=" crossorigin="anonymous"></script>
<!--
Made with Book Theme
https://github.com/techatpark/gurukulams-book
-->
  
</head>
<body dir="ltr">
  <input type="checkbox" class="hidden toggle" id="menu-control" />
  <input type="checkbox" class="hidden toggle" id="toc-control" />
  <main class="container flex">
    <aside class="book-menu">
      <div class="book-menu-content">
        
  <nav>
<h2 class="book-brand">
  <a class="flex align-center" href="/gurukulams-book/"><span>Book Manual</span>
  </a>
</h2>


<div class="book-search">
  <input type="text" id="book-search-input" placeholder="Search" aria-label="Search" maxlength="64" data-hotkeys="s/" />
  <div class="book-search-spinner hidden"></div>
  <ul id="book-search-results"></ul>
</div>



  



  
    
  



<ul class="book-languages">
  <li>
    <input type="checkbox" id="languages" class="toggle" />
    <label for="languages" class="flex justify-between">
      <a role="button" class="flex align-center">
        <img src="/gurukulams-book/svg/translate.svg" class="book-icon" alt="Languages" />
        English
      </a>
    </label>

    <ul>
      
      <li>
        <a href="https://techatpark.github.io/gurukulams-book/ta/">
          தமிழ்
        </a>
      </li>
      
    </ul>
  </li>
</ul>











  





  
  <ul>
    
      
        <li>
          
  
  

  
    <a href="/gurukulams-book/layouts/" class="">Layouts</a>
  

          
  <ul>
    
      
        <li>
          
  
  

  
    <a href="/gurukulams-book/layouts/columns/" class="">Columns</a>
  

        </li>
      
    
      
        <li>
          
  
  

  
    <a href="/gurukulams-book/layouts/details/" class="">Details</a>
  

        </li>
      
    
      
        <li>
          
  
  

  
    <a href="/gurukulams-book/layouts/tabs/" class="active">Tabs</a>
  

        </li>
      
    
  </ul>

        </li>
      
    
      
        <li>
          
  
  

  
    <a href="/gurukulams-book/markup/" class="">Markup</a>
  

          
  <ul>
    
      
        <li>
          
  
  

  
    <a href="/gurukulams-book/markup/hints/" class="">Hints</a>
  

        </li>
      
    
  </ul>

        </li>
      
    
      
        <li>
          
  
  

  
    <a href="/gurukulams-book/maths/" class="">Maths</a>
  

          
  <ul>
    
      
        <li>
          
  
  

  
    <a href="/gurukulams-book/maths/katex/" class="">Katex</a>
  

        </li>
      
    
  </ul>

        </li>
      
    
      
        <li>
          
  
  

  
    <a href="/gurukulams-book/pictures/" class="">Pictures</a>
  

          
  <ul>
    
      
        <li>
          
  
  

  
    <a href="/gurukulams-book/pictures/diagram/" class="">Diagram</a>
  

        </li>
      
    
      
        <li>
          
  
  

  
    <a href="/gurukulams-book/pictures/figure/" class="">Figure</a>
  

        </li>
      
    
      
        <li>
          
  
  

  
    <a href="/gurukulams-book/pictures/mermaid/" class="">Mermaid</a>
  

        </li>
      
    
  </ul>

        </li>
      
    
  </ul>















</nav>




  <script>(function(){var e=document.querySelector("aside .book-menu-content");addEventListener("beforeunload",function(){localStorage.setItem("menu.scrollTop",e.scrollTop)}),e.scrollTop=localStorage.getItem("menu.scrollTop")})()</script>


 
      </div>
    </aside>

    <div class="book-page">
      <header class="book-header">
        
  <div class="flex align-center justify-between">
  <label for="menu-control">
    <img src="/gurukulams-book/svg/menu.svg" class="book-icon" alt="Menu" />
  </label>

  <strong>Tabs</strong>

  <label for="toc-control">
    
    <img src="/gurukulams-book/svg/toc.svg" class="book-icon" alt="Table of Contents" />
    
  </label>
</div>


  
  <aside class="hidden clearfix">
    
  
<nav id="TableOfContents">
  <ul>
    <li><a href="#tabs">Tabs</a>
      <ul>
        <li><a href="#example">Example</a></li>
      </ul>
    </li>
  </ul>
</nav>



  </aside>
  
 
      </header>

      
      
  <article class="markdown"><h1 id="tabs">
  Tabs
  <a class="anchor" href="#tabs">#</a>
</h1>
<p>Tabs let you organize content by context, for example installation instructions for each supported platform.</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-tpl" data-lang="tpl"><span style="display:flex;"><span><span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#a6e22e">tabs</span> <span style="color:#e6db74">&#34;uniqueid&#34;</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span>
</span></span><span style="display:flex;"><span><span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#a6e22e">tab</span> <span style="color:#e6db74">&#34;MacOS&#34;</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span> # MacOS Content <span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#f92672">/</span><span style="color:#a6e22e">tab</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span>
</span></span><span style="display:flex;"><span><span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#a6e22e">tab</span> <span style="color:#e6db74">&#34;Linux&#34;</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span> # Linux Content <span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#f92672">/</span><span style="color:#a6e22e">tab</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span>
</span></span><span style="display:flex;"><span><span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#a6e22e">tab</span> <span style="color:#e6db74">&#34;Windows&#34;</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span> # Windows Content <span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#f92672">/</span><span style="color:#a6e22e">tab</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span>
</span></span><span style="display:flex;"><span><span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#f92672">/</span><span style="color:#a6e22e">tabs</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span>
</span></span></code></pre></div><h2 id="example">
  Example
  <a class="anchor" href="#example">#</a>
</h2>




<div class="book-tabs"><input type="radio" class="toggle" name="tabs-uniqueid" id="tabs-uniqueid-0" checked="checked" />
  <label for="tabs-uniqueid-0">MacOS</label>
  <div class="book-tabs-content markdown-inner"><h1 id="macos">
  MacOS
  <a class="anchor" href="#macos">#</a>
</h1>
<p>This is tab <strong>MacOS</strong> content.</p>
<p>Lorem markdownum insigne. Olympo signis Delphis! Retexi Nereius nova develat
stringit, frustra Saturnius uteroque inter! Oculis non ritibus Telethusa
protulit, sed sed aere valvis inhaesuro Pallas animam: qui <em>quid</em>, ignes.
Miseratus fonte Ditis conubia.</p>
</div><input type="radio" class="toggle" name="tabs-uniqueid" id="tabs-uniqueid-1"  />
  <label for="tabs-uniqueid-1">Linux</label>
  <div class="book-tabs-content markdown-inner"><h1 id="linux">
  Linux
  <a class="anchor" href="#linux">#</a>
</h1>
<p>This is tab <strong>Linux</strong> content.</p>
<p>Lorem markdownum insigne. Olympo signis Delphis! Retexi Nereius nova develat
stringit, frustra Saturnius uteroque inter! Oculis non ritibus Telethusa
protulit, sed sed aere valvis inhaesuro Pallas animam: qui <em>quid</em>, ignes.
Miseratus fonte Ditis conubia.</p>
</div><input type="radio" class="toggle" name="tabs-uniqueid" id="tabs-uniqueid-2"  />
  <label for="tabs-uniqueid-2">Windows</label>
  <div class="book-tabs-content markdown-inner"><h1 id="windows">
  Windows
  <a class="anchor" href="#windows">#</a>
</h1>
<p>This is tab <strong>Windows</strong> content.</p>
<p>Lorem markdownum insigne. Olympo signis Delphis! Retexi Nereius nova develat
stringit, frustra Saturnius uteroque inter! Oculis non ritibus Telethusa
protulit, sed sed aere valvis inhaesuro Pallas animam: qui <em>quid</em>, ignes.
Miseratus fonte Ditis conubia.</p>
</div></div>

</article>
 
      

      <footer class="book-footer">
        
  <div class="flex flex-wrap justify-between">


  <div><a class="flex align-center" href="https://github.com/techatpark/gurukulams-book/commit/3c37c4940f92b8db661a1c73e8b07ea6bf2c9d3e" title='Last modified by haripriya | December 7, 2022' target="_blank" rel="noopener">
      <img src="/gurukulams-book/svg/calendar.svg" class="book-icon" alt="Calendar" />
      <span>December 7, 2022</span>
    </a>
  </div>



  <div>
    <a class="flex align-center" href="https://github.com/techatpark/gurukulams-book/edit/main/exampleSite/content.en/layouts/tabs.md" target="_blank" rel="noopener">
      <img src="/gurukulams-book/svg/edit.svg" class="book-icon" alt="Edit" />
      <span>Edit this page</span>
    </a>
  </div>


</div>



  <script>(function(){function e(e){const t=window.getSelection(),n=document.createRange();n.selectNodeContents(e),t.removeAllRanges(),t.addRange(n)}document.querySelectorAll("pre code").forEach(t=>{t.addEventListener("click",function(){if(window.getSelection().toString())return;e(t.parentElement),navigator.clipboard&&navigator.clipboard.writeText(t.parentElement.textContent)})})})()</script>


 
        
      </footer>

      
  
  <div class="book-comments">

</div>
  
 

      <label for="menu-control" class="hidden book-menu-overlay"></label>
    </div>

    
    <aside class="book-toc">
      <div class="book-toc-content">
        
  
<nav id="TableOfContents">
  <ul>
    <li><a href="#tabs">Tabs</a>
      <ul>
        <li><a href="#example">Example</a></li>
      </ul>
    </li>
  </ul>
</nav>


 
      </div>
    </aside>
    
  </main>

  
</body>
</html>












